body {
    height: 100vh;
    display: grid;
    place-items: center;
}
.calc {
    border-radius: 10px;
    padding: 0.5rem;
    height: 30rem;
    width: 20rem;
    font: 18px monospace;
    display: grid;
    grid-template: 0.4fr / 100%;
    background-color: rgb(160, 160, 160);
    padding: 1rem;
}
.display {
    border-radius: 10px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px black inset;
}
.previous-display {
    font: 1.5rem monospace;
    color: gray;
    text-align: end;
    min-height: 2rem;
    overflow: hidden;
}
.current-display {
    font: 3.5rem monospace;
    text-align: end;
    min-height: 4.5rem;
    overflow: hidden;
}
.btn-group {
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    gap: 0.5rem;
    font-size: 1.5rem;
}
.zero {
    grid-column: 1 / 3;
}
button {
    padding: 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}
button:active {
    transform: translate(2px, 2px);
    box-shadow: none;
}
.number, .decimal {
    background-color: lightgray;
}
.operator, .equals, .clear, .backspace {
    background-color: slategray;
}